@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  weights: 500, 800;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

body {
  font-family: "Plus Jakarta Sans", monospace, serif;
  background-color: var(--Light-grayish-blue-1);
  font-size: 18px;
}

.container {
  width: 600px;
  margin: 40px auto;
  background-color: var(--White);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 25px -13px rgba(0, 0, 0, 0.26);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 20px;
}

.header h2 span {
  background-color: var(--Blue);
  padding: 2px 8px;
  color: var(--White);
  border-radius: 4px;
  border: none;
  font-size: 13px;
  margin-left: 4px;
}

.header a {
  font-size: 15px;
  font-weight: 500;
  color: var(--Grayish-blue);
  cursor: pointer;
}

.header a:hover {
  color: var(--Blue);
}
.notification-container {
  margin-top: 30px;
}

.notification {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 6px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--White);
}

.unread {
  background-color: var(--Light-grayish-blue-1);
}

.comment {
  display: flex;
}

.comment .msg-img {
  cursor: pointer;
  margin-left: auto;
}

.info p {
  font-size: 15px;
  color: var(--Grayish-blue);
}

.name {
  font-weight: 700;
  color: black;
  margin-right: 2px;
  cursor: pointer;
}

.name:hover {
  color: var(--Blue);
}

.notification img {
  width: 40px;

  margin-right: 15px;
}

.purpose {
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  margin-left: 2px;
  cursor: pointer;
}

.purpose:hover {
  color: var(--Blue);
}

span.dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: var(--Red);
}
.chess {
  color: var(--Blue) !important;
}

.time {
  color: var(--Grayish-blue);
  font-size: 15px;
}

.message {
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--Light-grayish-blue-1);
  background-color: var(--White);
  cursor: pointer;
}

.message:hover {
  background-color: var(--Light-grayish-blue-2);
}

.private-msg {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 648px) {
  body {
    font-size: 14px;
    line-height: 1.4;
    background-color: var(--White);
  }
  .container {
    width: 520px;
  }
  .notification {
    display: flex;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 500px;
  }
}
@media only screen and (max-width: 530px) {
  .container {
    width: 450px;
  }
}
@media only screen and (max-width: 490px) {
  .container {
    width: 400px;
    box-shadow: none;
  }
}
@media only screen and (max-width: 430px) {
  .container {
    width: 375px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    width: 325px;
  }
}
